@charset "utf-8";
.Header{
	background-image:url(BlackTex2.jpg);
	width:100%;
	height:120px;
}
.Header h1{
	float:left;	
}
.Header h1 #First
{
	font-family:alex-brush;
	color:rgba(255,255,255,1.00);
	font-size:80px;
	font-style:italic;
	font-weight:200;
	padding-left: 10px;
	padding-bottom: 10px;
		
}
.Header h1 #Last
{	
	font-family:aclonica;
	color:rgba(255,255,255,1.00);
	font-size:40px;
	font-style:italic;
	font-weight:200;
	padding-left: 10px;
	padding-bottom: 10px		
}
.Header ul {
	margin:0px;
	padding:0px;
}
.Header ul li a{
	text-decoration:none;
	color:rgba(255,255,255,1.00);
}
.Header ul li{
	display:inline-block;
	padding-left:80px;
	padding-top:50px;
	float:left;
	font-size:35px;
	text-align:center;
}
.Header ul li a:link
{
	color:yellow;
}
.Header ul li a:hover
{
	color:red;
}
.Reg{
	width:100%;
	height:800px;
	background-image:url(Register.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.Register{
	
	padding-top:50px;
	padding-bottom:100px;
	width:600px;
	height:300px;
	background-color:rgba(0,0,0,0.60);
	margin-left:450px;
}
.gform1{
	padding:0px;
	font-size:40px;
	font-family:actor;
	font-weight:700;
}
.gform1 span{
	font-size:22px;
	font-weight:900;
	color:white;
	padding-left:20px;
}
.gform1 p
{
	padding-left:150px;
}

