@charset "utf-8";
.Header{
	background-image:url(BlackTex2.jpg);
	width:100%;
	height:120px;
}
.Header h1{
	float:left;	
}
.Header h1 #First
{
	font-family:alex-brush;
	color:rgba(255,255,255,1.00);
	font-size:80px;
	font-style:italic;
	font-weight:200;
	padding-left: 10px;
	padding-bottom: 10px;
		
}
.Header h1 #Last
{	
	font-family:aclonica;
	color:rgba(255,255,255,1.00);
	font-size:40px;
	font-style:italic;
	font-weight:200;
	padding-left: 10px;
	padding-bottom: 10px		
}
.Header ul {
	margin:0px;
	padding:0px;
}
.Header ul li a{
	text-decoration:none;
	color:rgba(255,255,255,1.00);
}
.Header ul li{
	display:inline-block;
	padding-left:80px;
	padding-top:50px;
	float:left;
	font-size:35px;
	text-align:center;
}
.Header ul li a:link
{
	color:yellow;
}
.Header ul li a:hover
{
	color:red;
}
.Login{
	width:100%;
	height:800px;
	background-image:url(Register.jpg);
	background-repeat:repeat-y;
	background-size:cover;
}
.SignIn{
	
	padding-top:50px;
	width:600px;
	height:300px;
	background-color:rgba(0,0,0,0.60);
	margin-left:450px;
}

.gform{
	padding:0px;
	font-size:40px;
	font-family:actor;
	font-weight:700;
}
.gform span{
	font-weight:900;
	color:white;
	padding-left:250px;
}
.gform p
{
	padding-left:150px;
}
.Footer
{
	margin-top:260px;
	width:100%;
	height:100px;
	background-color:rgba(35,25,25,1.00);
}

.Footer #Copy ul li{
	display:inline-block;
	text-decoration:none;
	
}
.Footer #Copy ul li #e{
	margin:0px;
	color:rgba(245,245,245,1.00);
	font-family:aclonica;
	font-size:36px;
	font-style:italic;
	font-weight:400;	
}
.Footer #Copy ul li #c{
	padding-left:200px;
	color:rgba(245,245,245,1.00);
	font-family:aclonica;
	font-size:36px;
	font-style:italic;
	font-weight:400;	
}
.Footer #Copy ul li #d{
	padding-left:170px;
	color:rgba(245,245,245,1.00);
	font-family:aclonica;
	font-size:25px;
	font-style:normal;
	font-weight:400;	
}
.Footer #Copy ul li #a{
	margin:0px; 
	padding-left:270px;
	color:rgba(245,245,245,1.00);
	font-family:aclonica;
	font-size:30px;
	font-style:italic;
	font-weight:400;	
}
.Footer #Copy ul li #b{
	padding-left:100px;
	color:rgba(245,245,245,1.00);
	font-family:aclonica;
	font-size:13px;
	font-style:normal;
	font-weight:400;	
}